@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  /* HEADER-NAV  */
  .header {
    /* display: flex; */
    /* padding-top: 24px;
    padding-bottom: 24px; */
    border-bottom: 1px solid var(--color-header);
    /* margin-bottom: -30px; */
  }

  .header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    overflow: hidden;
    /* padding: 0 16px; */
    /* padding-top: 24px;
    padding-bottom: 24px; */
  }

  .btn-menu-open {
    display: none;
  }

  .mob-menu {
    display: none;
  }

  .header-nav {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: var(--general-font);
    text-decoration: none;
    display: flex;
    /* align-items: center; */
    /* flex: wrap; */
    justify-content: start;
  }

  .header-logo {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: var(--dark-blue);
    text-decoration: none;
    letter-spacing: 0.03em;
    padding: 24px 0;
  }

  .header-logo-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    color: var(--general-font);
    /* margin-right: 76px; */
  }

  .header-nav-list {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: var(--general-font);
    letter-spacing: 0.02em;
  }

  .header-nav-item {
    display: flex;
    flex: wrap;
    gap: 40px;
    align-items: center;
  }

  .header-link {
    font-weight: 600;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--general-font);
    text-decoration: none;
    transition: color var(--transition);
    position: relative;
  }

  .studio,
  .portfolio {
    color: var(--color-ocean);
  }

  .header-link.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-ocean);
    left: 0;
    bottom: -29px;
  }

  .header-link:focus,
  .header-link:hover {
    color: var(--color-ocean);
  }

  /* HEADER-CONTACTS */

  .header-contacts {
    display: flex;
    /* margin-left: 118px; */
    display: flex;
    /* flex-direction: column;
    margin-left: 0 auto; */
    justify-content: flex-end;
    gap: 4px;
  }

  .header-contacts {
    line-height: calc(24 / 16);
    text-decoration: none;
    color: var(--color-slate);
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  .header-contacts-email {
    line-height: calc(24 / 16);
    color: var(--color-slate);
    text-decoration: none;
    display: flex;
    transition: color var(--transition);
  }

  .header-contacts-tel {
    color: var(--color-slate);
    text-decoration: none;
    line-height: calc(24 / 16);
    transition: color var(--transition);
  }

  .header-contacts-tel:hover,
  .header-contacts-email:hover,
  .header-contacts-tel:focus,
  .header-contacts-email:focus {
    color: var(--color-ocean);
  }

  /* -----ABOUT-WORK----- */

  .list-work {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .work-list-element {
    width: calc((100% - 24px) / 2);
  }

  .title-work {
    text-align: start;
  }

  /* ----TEAM---- */
  .team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  /* ----CUSTOMERS---- */

  .list-customers > .container {
    width: 768px;
  }

  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .list-customers {
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .item-customers {
    width: 100%;
    height: 88px;
    flex-basis: calc((100% - 48px) / 3);
  }

  /* .footer > .container {
    width: 582px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    flex-direction: row;
    justify-content: flex-start;
  } */

  .footer-logo-container {
    width: 264px;
    /* margin-right: 24px; */
  }

  .footer-logo {
    text-align: left;
  }

  .footer-logo-link-cont {
    display: flex;
  }

  .footer-link-container {
    /* margin-left: auto; */
    display: flex;
    flex-direction: column;
    margin-left: 24px;
  }

  .footer-title-soc-media {
    margin-top: 0;
    text-align: left;
  }

  .footer-email {
    margin-top: 0;
    text-align: left;
  }
  .footer-window-email {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
  }

  .footer-input-btn {
    display: flex;
  }

  .input-footer {
    width: 264px;
    margin-bottom: 0;
  }

  .footer-btn {
    margin-left: 24px;
  }

  /* .footer-logo-link-cont {
    display: flex;
  } */
}

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    max-width: 768px;
  }

  .section {
    text-align: center;
  }

  .hero {
    background-color: var(--general-font);
    padding-top: 188px;
    padding-bottom: 188px;
    max-height: 600px;
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(
        to right,
        var(--color-gradient),
        var(--color-gradient)
      ),
      url(../img/hero-bg-tablet-1x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          var(--color-gradient),
          var(--color-gradient)
        ),
        url(../img/hero-bg-tablet-2x.jpg);
    }
  }

  .hero-title {
    /* width: 318px; */
    color: var(--color-white);
    font-weight: 700;
    font-size: 36px;
    line-height: 0.9;
    text-align: center;
    max-width: 496px;
    /* margin: 0 auto; */
    margin-bottom: 40px;
  }

  .hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--color-white);
    background-color: var(--dark-blue);
    cursor: pointer;
    display: inline-block;
    width: 169px;
    height: 56px;
    padding: 16px, 32px, 16px, 32px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    transition: background-color var(--transition), box-shadow var(--transition);
  }

  .modal {
    width: 408px;
    min-height: 584px;
  }

  /* .modal-btn {
    margin-right: 119px;
    margin-left: 120px;
  } */
}
